<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header>
        <nav>
            <button class="menu-button" data-menu="downloads">Download </button>
            <button class="menu-button" data-menu="otimizacao">Otimizações</button>
            <button class="menu-button" data-menu="configs">Configurações</button>
        </nav>
    </header>
    <main>
        <section style="display: none;" id="main-downloads">
            <div id="checks-download">
                
                <div>
                    <div class="options-containner" id="navegador">
                        <h1 class="title">Navegadores</h1><hr><br>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="nav-1">
                            <span class="legend-input">Chrome</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="nav-2">
                            <span class="legend-input">OperaGX</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="nav-3">
                            <span class="legend-input">FireFox</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="nav-4">
                            <span class="legend-input">Edge</span>
                        </div>
                    </div>
                    <br>
                    <div class="options-containner" id="drivers">
                        <h1 class="title">Drivers</h1><hr><br>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="drive-1">
                            <span class="legend-input">Visual C++</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="drive-2">
                            <span class="legend-input">.NET</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="drive-3">
                            <span class="legend-input">Winget</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="drive-4">
                            <span class="legend-input">Driver Booster Pro</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="options-containner" id="other">
                        <h1 class="title">Outros</h1><hr><br>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="other-1">
                            <span class="legend-input">OBS Studio</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="other-2">
                            <span class="legend-input">CPU-Z</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="other-3">
                            <span class="legend-input">Translucent Taskbar</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="other-4">
                            <span class="legend-input">Winrar</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="other-5">
                            <span class="legend-input">Windows Terminal</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="other-6">
                            <span class="legend-input">PowerShell</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="other-7">
                            <span class="legend-input">Powertoys</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="other-8">
                            <span class="legend-input">Spotify</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="other-9">
                            <span class="legend-input">Amazon Music</span>
                        </div>
                    </div>
                    <div id="button-baixar">
                        <button id="baixar">Baixar</button>
                    </div>
                </div>
                <div>
                    <div class="options-containner" id="Games">
                        <h1 class="title">Games</h1><hr><br>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="game-1"disabled>
                            <span class="legend-input">Steam</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="game-2" disabled>
                            <span class="legend-input">Epic Games</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="game-3" disabled>
                            <span class="legend-input">Origin</span>
                        </div>
                    </div>
                    <br>
                    <div class="options-containner" id="dev">
                        <h1 class="title">Dev</h1><hr><br>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="dev-1">
                            <span class="legend-input">Git</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="dev-2">
                            <span class="legend-input">Nodejs</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="dev-3">
                            <span class="legend-input">Python</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="dev-4">
                            <span class="legend-input">VS Code</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="downloads-inputs" data-value="dev-5">
                            <span class="legend-input">Visual Studio</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="display: block;" id="main-otimizacao">
            <div id="checks-otim">
                <div>
                    <div class="options-containner" id="desempenho">
                        <h1 class="title">Desempenho</h1><hr><br>
                        <div class="inputs-containner">
                            <input type="checkbox" class="otmi-inputs" data-value="otmi-1">
                            <span class="legend-input">Desempenho Maximo</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="otmi-inputs" data-value="otmi-2">
                            <span class="legend-input">Desativar a hibernação</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="otmi-inputs" data-value="otmi-3">
                            <span class="legend-input">Setar Windows Bypass</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="otmi-inputs" data-value="otmi-4">
                            <span class="legend-input">Apagar Arquivos Temporarios</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="otmi-inputs" data-value="otmi-5">
                            <span class="legend-input">Apagar Arquivos Desnecessário</span>
                        </div>
                        <div class="inputs-containner">
                            <input type="checkbox" class="otmi-inputs" data-value="otmi-6">
                            <span class="legend-input">Abrir Otimizador christitus</span>
                        </div>
                    </div>
                    <div id="button-baixar">
                        <button class="post-button" id="otimizar">Otimizar</button>
                    </div>
                </div>
            </div>
        </section>
        <section style="display: none;"  id="main-configs"></section>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="../public/js/script.js" ></script>
</body>
</html>